@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

.app {
    position: relative;
    background-color: rgb(186, 211, 211);
    width: 500px;
    height: 667px;
    margin: auto;

}

.header p {
    position: relative;
    margin: auto;
    text-align: center;
    color: white;
    font-size: 34px;
    font-family: "Lato", sans-serif;
    background-color: rgb(111, 114, 112);
    width: auto;
}

.add {
    text-align: center;
    margin: auto;
    background-color: rgb(111, 114, 112);
    width: auto;
    height: auto;
}

.commentbox {
    position: relative;
    height: 40px;
    margin-top: 20px;
    font-family: "Lato", sans-serif;
    text-align: center;
}

.inputBtn {
    text-align: center;
    font-family: "Lato", sans-serif;
    font-size: 14px;
    margin-top: 20px;
    margin-left: 15px;
    border-radius: 5px;
    border: none;
    width: 118px;
    height: 25px;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button {  
    
    opacity: 1;

}

.addBtn {
    position: relative;
    text-align: center;
    font-family: "Lato", sans-serif;
    font-size: 16px;
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: none;
    background-color: white;
    width: 130px;
    height: 25px;
    transition: 0.3s;
}

.addBtn:hover {
    color: white;
    background: linear-gradient(75deg, rgb(133, 189, 133), rgb(23, 179, 23));
}

.icon {
    font-size: 15px;
    margin-left: 10px;
}

.icon2 {
    margin-left: 10px ;
    float: right;
    font-size: 20px;
    
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

ul li {
    padding-top: 10px;
    padding-bottom: 40px;
    font-size: 16px;
    position: relative;
    font-family: "Lato", sans-serif;
    background-color: white;
    height: 50px;
    border: 1px outset rgb(214, 214, 214);
    border-left: hidden;
    border-right: hidden;
}

.itemList {
    font-family: "Lato", sans-serif;
    margin-left: 30px;
    
}

p {
    position: relative;
    display: inline;
    margin-right: 20px;
}

